body
{
font-family:arial
}
#container
{
margin:0 auto;
width:600px;
}
.stbody
{
min-height:70px;
margin-bottom:10px;
border-bottom:dashed 1px #cc0000;
}
.stimg
{
float:left;

}
.stprofileimg
{
width:60px;
}
.sttext
{
margin-left:70px;
font-size:12px;
line-height:18px;
min-height:50px;
word-wrap:break-word;
overflow:hidden;
padding:5px;
display:block;

}
.sttext strong{display:block}
.sttime
{
font-size:11px;
color:#999;
font-family:Arial, Helvetica, sans-serif;
}
.stdelete
{
color:#dedede;
float:right;
cursor:pointer;
}
.stdelete:hover
{
color:#333333;
}
.stupdatebox
{
width:560px;
padding:10px;

}
.stpostbutton
{
margin-bottom:20px;
}

#mainContent{width:600px;float:left}


/**
* ===============================================================================
* ==== PROPRE CSS
* ===============================================================================
*/
#NotifyMessage{
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#ab0909;
    border-bottom:1px solid #eee;
    font-size:12px;
    padding:16px;
    text-align:center;
    color:#fff;
    text-shadow:1px 1px 0 #940f0f;
}